@font-face { 
    font-family: "TTLakesMedium";
    src: url("./fonts/TTLakes-Bold.eot");
    src: url("./fonts/TTLakes-Bold.eot")format("embedded-opentype"),
    url("./fonts/TTLakes-Bold.woff") format("woff"),
    url("./fonts/TTLakes-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

/* Базовые стили. Мобильная версия */

body {
    
    background-color: rgba(248, 248, 248, 1);

    
}




.cps-root {
    width: 320px;
    height: 597px;
    
    
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;



    
}
.up {
    vertical-align: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 0;
  }
.header {
    width: 320px;
    height: 88px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgba(128, 148, 159, 0.162);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    
}
.header__cps  {
    width: 97px;
    height: 51px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    
    color: black;
}
.header__divider {
    width: 2px;
    height: 32px;
    margin-top: 30px;
    margin-right: 5px;
    border-radius: 1px;
}
.header__divider--none {
    display: none;
}
.header__icon {
    margin-top: 24px;
    margin-left: 16px;
    
    
    width: 40px;
    height: 40px;
    background-image: url('./back.svg');
}

.header__block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
 }
.header__burger {
    margin: 12px;
    margin-left: 11px;
    width: 18px;
    height: 16px;

}
.header__settings {
    margin: 10px;
    
    width: 20px;
    height: 20px;
}

.header__checkstatus {
    margin: 10px;
    
    width: 16px;
    height: 20px;
}
.header__icon2 {
        width: 40px;
        height: 40px;
        margin-right: 10px;

    }
.header__icons--none {
    display: none;
}


.sidebar {
    width: 320px;
    height: 597px;
    background-color: white;
    position: absolute;
    left: -370px;
  
    box-shadow:  0 -50px 65px 0 rgba(0, 0, 0, 0.385);
    
    
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    

    
}
.sidebar__modal {
    display: none;
    z-index: 5;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.045);
    width: 100%;
    height: 100%;
}
.sidebar__header {
    box-sizing: border-box;
    padding: 19px 18px 19px 16px;

    width: 320px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    

}

.sidebar__wrapper {
    display: flex;
   
   
    

}
.height-middle {
    display: inline-block;
    margin-right: 10px;
}
.sidebar__nav, .sidebar__ul, .sidebar__li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    

}
.sidebar__nav {
    width: 250px;
    height: auto;
    margin-bottom: auto;
    
}
.sidebar__nav > ul {
    display: flex;
    flex-wrap: wrap;
}
.sidebar__nav > ul > li {
    display: inline-block;
    width: 100%;
    
    
    
}
.sidebar__nav > ul > li > a {
    font-family: "TTLakesMedium";
    text-decoration: none;
    display: block;
    height: 30px;

    text-indent: 25px;
    font-size: 16px;
    padding-top: 10px;
    color: black;
    position: relative;

   
}
.highlight {
  display: none;
}
.sidebar__nav > ul > li:hover .highlight {
    display: block;
    position: absolute;
    

}
.sidebar__nav > ul > li > a:hover {
    color: rgba(126, 126, 130, 1);

}
.icon-effect:hover {
    opacity: 70%;
   
}

.sidebar__footer {
    display: block;
    width: 220px;
    height: 200px;
   
    
    padding: 15px 25px 15px 25px;

    font-family: "TTLakesMedium";
}
.sidebar__footer-icons .icon-effect {
    
    margin-right: 15px;

}
.sidebar__email, .sidebar__phone {
    margin-top: 10px;
    font-size: 16px;
}
.sidebar__phone {
    font-weight: bold;
    font-size: 24px;
}
.sidebar__lang {
    margin-top: 5px;
    

}
.sidebar__lang span:nth-child(1) {
    color: rgba(126, 126, 130, 1);

}
.sidebar__lang span {
    margin-right: 10px;
}
.main {
    width: 320px;
    height: 509px;
    background: rgba(248, 248, 248, 1);
    font-family: TTLakesMedium;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    
    
    

    
}
.main__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__title__icons--on {
    display: none;
}
.main__menu {
   
    height: 40px;
    width: 300px;
    margin: 20px;
    margin-left: 15px;
    background-color: rgba(255, 166, 0, 0);
    display: flex;
    flex-direction: row;
    
    overflow-x: auto;
    
    


    

}
.main__menu::-webkit-scrollbar {
        display: none;
      }
.main__menu-item {
    display: inline;
    border: 1px solid rgba(0, 0, 0, 0);
    
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: lighter;
    border-radius: 5px;
    
    white-space: nowrap;
    color: gray;
    box-sizing: border-box;
   
    


    
}
.main__menu-item:hover {
     border: 1px solid rgba(0, 0, 0, 0.107);
     padding: 8px;
     padding-left: 15px;
     padding-right: 15px;
     border-radius: 5px;
     background-color: white;
     
}
.main__post {
    width: 320px;
    height: 322px;
    background-color: rgba(58, 38, 0, 0);
    display: flex;
    flex-direction: column;
    
}
.main__post-text {
    width: 288px;
    height: auto;
    
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(80, 80, 80);
    display: inline-block;

}
.main__summary {
    width: 122px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0);
    color: black;

    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;

    
}
.main__summary-icon {
    width: 7.41px;
    height: 10.29px;
    margin: 7px;
    margin-left: 8px;

}
.main__summary-text {
    display: inline;
    font-size: 15px;
    margin-left: 5px;
    white-space: nowrap;
    align-self: center;
}

.main__highlights {
    background-image: url('./highlight.svg');
    width: 4px;
    height: 40px;
    display: inline-block;
    margin-right: 15px;


}

.main__title {
   width: 304px;
   height: 40px;
   background-color: rgba(0, 0, 0, 0);
   padding: 0;
   margin-top: 20px;
   
   
   
   
   
   

}
.main__title__block-icons {
    
    display: inline-block;
    margin-right: 20px;
    

    

}
.main__icon__description {
    display: inline-block;
    
    
    
    margin-top: -10px;

}
.main__title__icons--on {
    display: none;
}

.main__text {
    font-size: 28px;
    font-weight: bolder;
    display: inline-block;
    padding-bottom: 15px;
    vertical-align: 20%;
    
    
    
    
}
#more {
    display: none;

}
.main__picture {
    width: 320px;
    height: 176px;
    
    display: block;
    margin-top: 20px;
    border-radius: 4px;
    
    
}



/* 768 < widh < 1120px */

@media screen and (min-width:  768px) and (max-width: 1120px) {
    /* 768 */
   
    .cps-root {
        
        width: 98vw;
        min-height: 1024px;
       
        background-color: rgba(248, 248, 248, 1);
        
        
       
    }
    .sidebar {
        height: 100%;
        
       

    }
    .sidebar__modal {
        width: 100%;
        height: 100vh;
    }
    .sidebar__nav {
        margin-bottom: 150px;
        
    }
    .sidebar__lang {
        margin-top: 50px;
    }
    .sidebar__nav > ul {
        margin-top: 10px;
    }
    .sidebar__nav > ul > li > a {
        
        height: 30px;
        margin-bottom: 5px;
    
        text-indent: 25px;
        font-size: 16px;
        padding-top: 10px;
        color: black;
        position: relative;
    
       
    }


    .header {
        width: 100%;
    }
    .main {
        width: 100%;
        height: 460px;
        
    }
    .main__menu {
        
        
       
      

        min-width: 96%;
        margin: 20px;
        margin-left: 15px;
        
        display: flex;
        flex-direction: row;
        
        overflow-x: scroll;
        
        
    }
   
    
    .main__title {
        width: 100%;
        

    }
    .main__post  {
        margin-top: 0;
        flex-direction: row;
        width: 95%;
        height: 250px;
        justify-content: space-between;
        
        margin-bottom: 5px;
        
        
    }
    .main__post-text {
       
        margin-left: 20px;
        width: 310px;
        padding: 15px;
    }
    .main__picture {
        width: 45%;
        height: auto;
        margin: 0;
        object-fit: cover;
    }
    .header__divider--none {
        display: inline-block;
        margin-left: 20px;
        margin-right: 10px;
    }
    
    

    .header__icons--none {
        display: inline-block;
        margin-top: 24px;
        margin-left: 10px;
    }
    
    .header {
        justify-content: space-between;
    }
    .header__block {
        margin-right: 20px;
    }
    
}

/* width > 1120px */

@media screen and (min-width: 1120px) {
    .cps-root {
        
        
        max-width: 1500px;
        min-height: 1925px;
        background-color: rgba(248, 248, 248, 1);
        display: flex;

    }
    .sidebar {
        height: 100%;
        width: 320px;
        display: inline-block;
        position: static;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.214);
        
        margin-right: 20px;
        
        
    }
    .sidebar__close--none {
        display: none;
    }

    .sidebar__nav {
        margin-bottom: 200px;
        
    }
    .sidebar__lang {
        margin-top: 50px;
    }

    .sidebar__nav > ul > li > a {
        
        height: 30px;
        margin-bottom: 10px;
    
        text-indent: 25px;
        font-size: 16px;
        padding-top: 10px;
        color: black;
        position: relative;
    
       
    }
    
    .sidebar__header {
        margin-bottom: 20px;
    }

    .sidebar__modal {
        height: 100vw;
    }

    

    .header {
        width: 100%;

    }
    .main {
        width: 100%;
        height: 600px;
        
    }
    
    .main__menu {
   
        height: 40px;
        min-width: 100%;
        margin: 20px;
        margin-top: 50px;
        margin-left: 15px;
        background-color: rgba(255, 166, 0, 0);
        display: flex;
        flex-direction: row;
        
        overflow-x: scroll;
       
        
        
    
    
        
    
    }
    .main__menu::-webkit-scrollbar {
            display: none;
          }
    .main__menu-item {
        display: inline-block;
        border: 1px solid rgba(0, 0, 0, 0);
        
        padding: 8px;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: lighter;
        border-radius: 5px;
        
        white-space: nowrap;
        color: gray;
        box-sizing: border-box;
       
        
    
    
        
    }


    .main__title {
        width: 100%;
        margin-top: 50px;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
       

    }
    .block {
        margin: 0;
        padding: 0;
        display: inline-block;
        
        height: 100%;
        margin-right: 20px;
    }
    .main__post  {
        margin-top: 0;
        
        flex-direction: row;
        width: 95%;
        height: 350px;
        justify-content: space-between;
        
        margin-bottom: 5px;
        
        
    }
    .main__post-text {
       
        margin-left: 20px;
        width: 400px;
        padding: 15px;
    }
    .main__picture {
        width: 45%;
        height: auto;
        margin: 0;
        object-fit: cover;
    }
    .header__divider--none {
        display: inline-block;
        margin-left: 20px;
        margin-right: 10px;
    }
    
    

    .header__icons--none {
        display: inline-block;
        margin-top: 24px;
        margin-left: 10px;
    }
    
    .header {
        justify-content: space-between;
    }
    .header__block {
        margin-right: 20px;
    }
    .cps-root {
        
        width: 98vw;
        height: 616px;
        
    }
    .header--none {
        display: none;
    }

    .main__title__icons--on {
        display: inline-block;
    }

    #more {
        display: inline;
    }

    .main__post-text {
        width: 320px;
        padding: 20px;
    }

    

}